{% extends "base.html" %}
{% load static %}

{% block title %}
Page
{% endblock %}

{% block css_files %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">{{page.title}}</h2>
            <p class="blog-post-meta">{{page.date}} by <a href="#">{{page.author}}</a></p>
            {{page.text}}
        </div>
        {% if page.comment_allowed %}
        <div>
            <form class="comment-form">
                {% csrf_token %}
                {% for comment_field in comment_form %}
                <div class="form-control">
                    {{ comment_field.label_tag }}
                    {{ comment_field }}
                    {{ comment_field.errors }}
                </div>
                {% endfor %}
                <div class="form-control">
                    <button>Save comment</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}