{% extends "base.html" %}
{% load static %}

{% block title %}
Blog post page
{% endblock %}

{% block css_files %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 blog-main">

        <div class="blog-post">
            <h2 class="blog-post-title">{{post.title}}</h2>
            <p class="blog-post-meta">{{post.date}} by <a href="#">{{post.author}}</a></p>
            {{post.text}}
        </div>

    </div>
</div>
{% endblock %}